<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>스프링 웹 사이트</title>
</head>

<body>
        <!-- 네비게이션 바 -->
        <header th:replace="~{fragments/navbar :: navbarFragment}"></header>

        <!-- 컨텐츠 -->
        <div layout:fragment="content"></div>

        <!-- footer -->
<!--        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>-->


        <!-- Bootstrap JS -->
        <th:block th:replace="~{fragments/config :: configFragment}"> </th:block>

        <!-- JS Start -->
        <th:block layout:fragment="script"></th:block>
        <!-- JS End -->

</body>

</html>