<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>스프링 웹 사이트</title>
</head>

<body>
        <!-- header -->
        <header th:replace="~{fragments/header :: headerFragment}"></header>

        <!-- content -->
        <div layout:fragment="content"></div>

        <!-- footer -->
<!--        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>-->

</body>

        <th:block th:replace="~{fragments/config :: configFragment}"> </th:block>

</html>