<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{layout/bodyHeader :: bodyHeader}"></div>
<h1>게시글 수정</h1>
<div class="col-md-12">
    <div class="col-md-4">

        <form role="form" action="/posts/new" th:object="${post}" method="post">
            <div class="form-group">
                <label th:for="id">번호</label>
                <input type="text" th:field="*{id}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label th:for="title">작성자</label>
                <input type="text" th:field="*{author}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label th:for="content">내용</label>
                <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요">
            </div>
            <a href="/posts" role="button" class="btn btn-secondary">취소</a>
            <button type="submit" class="btn btn-primary" id="btn-save">수정</button>
        </form>

    </div>
</div>

</body>
<div th:replace="~{layout/footer :: footer}"></div>
</html>