<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

<div class="container my-3">
    <h2>게시글 목록</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr class="text-center">
                <th style="width: 10%">번호</th>
                <th style="width: 50%">제목</th>
                <th>작성자</th>
                <th>수정일</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" th:each="post, loop : ${posts}">
                <td th:text="${posts.getTotalElements - (posts.number * posts.size) - loop.index}"></td>
                <td class="w-25">
                    <a th:href="@{|/posts/${post.id}|}" th:text="${post.title}"></a>
                    <span class="text-danger small ms-2"
                          th:if="${post.commentsSize > 0}"
                          th:text="${post.commentsSize}">
                    </span>
                </td>
                <td class="w-25" th:text="${post.authorName}">작성자</td>
                <td class="w-25" th:text="${#temporals.format(post.lastModifiedDate, 'yyyy-MM-dd HH:mm')}">수정일</td>
<!--                <th>-->
<!--                    <a href="#" th:href="@{/posts/{id}/edit (id=${post.id})}" class="btn btn-primary" role="button">수정</a>-->
<!--                </th>-->
<!--                <th>-->
<!--                    <form action="#" th:action="@{/posts/{id}/delete (id=${post.id})}" method="#" th:method="delete">-->
<!--                        <button class="btn btn-primary" type="submit">삭제</button>-->
<!--                    </form>-->
<!--                </th>-->
            </tr>
        </tbody>
    </table>

    <!-- 페이징 처리 시작 -->
    <div th:if="${!posts.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${posts.isFirst()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=0|}">
                    <span>처음</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${!posts.hasPrevious()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${posts.number - 1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, posts.totalPages - 1)}"
                th:if="${posts.number - 5 <= page && page <= posts.number + 5}"
                th:classappend="${page == posts.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!posts.hasNext()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${posts.number + 1}|}">
                    <span>다음</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${posts.isLast()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${posts.totalPages - 1}|}">
                    <span>마지막</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징 처리 끝 -->

    <a href="/posts/new" role="button" class="btn btn-primary">글 등록</a>

</div>
</th:block>

</html>