<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{layout/bodyHeader :: bodyHeader}"></div>

<div class="container my-3">
    <h2>게시글 목록</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>수정일</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" th:each="post : ${posts}">
                <td class="w-25" th:text="*{post.id}">번호</td>
                <td class="w-25">
                    <a th:href="@{|/posts/${post.id}|}" th:text="*{post.title}"></a>
                </td>
                <td class="w-25" th:text="*{post.author}">작성자</td>
                <td class="w-25" th:text="${#temporals.format(post.lastModifiedDate, 'yyyy-MM-dd HH:mm')}">수정일</td>
<!--                <th>-->
<!--                    <a href="#" th:href="@{/posts/{id}/edit (id=${post.id})}" class="btn btn-primary" role="button">수정</a>-->
<!--                </th>-->
<!--                <th>-->
<!--                    <form action="#" th:action="@{/posts/{id}/delete (id=${post.id})}" method="#" th:method="delete">-->
<!--                        <button class="btn btn-primary" type="submit">삭제</button>-->
<!--                    </form>-->
<!--                </th>-->
            </tr>
        </tbody>
    </table>

    <a href="/posts/new" role="button" class="btn btn-primary">글 등록</a>

</div>

</body>
</html>